<!DOCTYPE HTML>
<html>
  <head>
    <title>
      <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/scripts/collapsable.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/help.css">
  </head>
  <body>
    <!-- Fixed navbar -->
    <%- include('navbar', {title: title}) %>
    <!-- End of navbar -->
    <div class="container">
      <div class="row">
        <h1>
            LEVEL <%=parseInt(level)+1%>-MODULE <%=parseInt(module)+1%>
        </h1>
      </div>
  		<div class="row">
        <div class="col-sm-5">
          <iframe src="http://www.youtube.com/embed/_Xcmh1LQB9I"
              width="448" height="252" frameborder="0" allowfullscreen style="margin-top:20px;">
          </iframe>

          <div class="well" style="margin-top:20px">
            <p >
                  DESCRIPTION:  a a a a a aaaaaaa a a a a a a a a a a  a a aaaaaaaaaaaaaaaa aaaa aaaaa
            </p>
          </div>
        </div>
  			<div class="col-sm-7">
          <div class="panel panel-default collapse-container">
            <div class="panel-heading collapse-trigger">
              ACTIVITY 1
            </div>
            <div class="panel-body collapsed collapsable">
               ABBASSO IL LATINO
               <form>
                  <div>
                    <input type="checkbox" value="newsletter">
                    <label for="subscribeNews">Activity completed</label>
                  </div>
                  <div>
                    <button type="submit">Confirm</button>
                  </div>
                </form>
            </div>
          </div>
          <div class="panel panel-default collapse-container">
            <div class="panel-heading collapse-trigger">
              ACTIVITY 2
            </div>
            <div class="panel-body collapsed collapsable">
              IL LATINO FA SCHIFO
              <div>
                <input type="checkbox" value="newsletter">
                <label for="subscribeNews">Activity completed</label>
              </div>
              <div>
                <button type="submit">Confirm</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>
