<!DOCTYPE HTML>
<html>
  <head>
    <title>
      Home - Dashboard
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="/scripts/index.js"></script>
  </head>
  <body>
    <!-- Fixed navbar -->
    <%- include('navbar', {title: title}) %>
    <!-- End of navbar -->
    <div class="">

      <div class="col-sm-4">
        <div class="well well-levels">
          <h2 class="text-center">Levels</h2>
          <div class="row equal">
            <!-- rocket -->
            <div class="col-xs-5 rocket-container">
              <center>
                <div class="moon"></div>
                <div id="rocket" class="rocket"></div>
              </center>
            </div>
            <!-- Level -->
            <div class="col-xs-7">

              <ul class="list-group list-group-padding">
               <li class="list-group-item disabled">Level 5<span class="badge"><span class="glyphicon glyphicon-lock"></span></span></li>
              </ul>
              <ul class="list-group list-group-padding">
               <li class="list-group-item list-group-item-danger">Level 4<span class="badge">0%</span></li>
             </ul>
              <ul class="list-group list-group-padding">
               <li class="list-group-item list-group-item-warning">Level 3<span class="badge">70%</span></li>
              </ul>
              <ul class="list-group list-group-padding">
               <li class="list-group-item list-group-item-success">Level 2<span class="badge">100%</span></li>
              </ul>
              <ul class="list-group list-group-padding">
               <li class="list-group-item list-group-item-success">Level 1<span class="badge">100%</span></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <!-- Moduli -->
      <div class="col-sm-4">

	   <div class="row">
	     <div class="col-sm-2">
	     </div>

	     <div class="col-sm-8 well well-modules">

	      <h3> <div align="center"> Current level: 4 </div> </h3>

          <!-- modules -->
	      <div class="list-group">
	       <%for(var i=1; i<=5; i++) { %>
		    <ul class="list-group">
		     <a href="#" class="list-group-modules">
		      <li class="list-group-item <% if(i == 1){ %> list-group-item-success <% }else{ %> list-group-item-info <%} %>"> <div align="center"> modulo <%= i %> </div> </li>
		     </a>
		    </ul>
		   <% } %>
          </div>
	     </div>

	     <div class="col-sm-2">
	     </div>
	   </div>

	   <div class="row">
	    <%
		  var mod_bar_percentage = 87;
		  var points_to_next = 38;
		%>
		<div class="col-sm-1"> </div>

		<div class="col-sm-10">
		 <div align="center"> Points until next level: <%= points_to_next %> </div>
		  <div class="progress incomplete-progress-bar-modules">
		   <div class="progress-bar color-modules" role="progressbar" style="width:<%= mod_bar_percentage %>%">
            <%= mod_bar_percentage %>%
           </div>
		  </div>
	    </div>

		<div class="col-sm-1">
		</div>
	   </div>

   		<div class="col-sm-1">
   		</div>
   	   </div>

   	  </div> <!-- chiude colonna centrale -->
      <!-- Leaderboard and test -->
      <div class="col-sm-4">
        <div class="well well-leaderboard">
          <div class="row">
            <h2 class="text-center">Leaderboard</h2>
            <ul class="leaderboard list-group">
              <% for(var i=0;i<10;i++) {%>
                <li class="list-group-item leaderboard-entry">
                  <a href="#profile" class="">
                      <div class="leaderboard-image profile-image-container img-circle">
                        <img class="" src="http://www.losangelesstaffingagencies.com/wp-content/uploads/2016/04/confident_Employee.jpg" class="rounded" />
                      </div>
                      <div class="leaderboard-inline-name">Bob&nbsp;Smith</div>
                      <div class="leaderboard-inline-points">1337 Pt.</div>
                  </a>
                </li>
              <%}%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
