<!DOCTYPE HTML>
<html>
  <head>
    <title>
      <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">


    <script type="text/javascript" src="scripts/index.js"></script>
    <script src="scripts/raphael-2.1.4.min.js"></script>
    <script src="scripts/justgage.js"></script>

    <!-- prendere dati da db sotto -->
    <%
     var levelsArr = new Array(5);
     var userPoints = 13;
     for(var i=0; i<5; i++)
      levelsArr[i] = {name:"level "+(i+1), points:i*10, perComp:Math.floor(100/(i+1))};
    %>

    <script>
      //inizializzare qui variabili condivise tra client e server
      var level;
      var num_levels = <%= levelsArr.length %>;

      var modulesMat = new Array(num_levels);
      for(var i=0; i<num_levels; i++)
       modulesMat[i] = new Array(i+1);

      for(var i=0; i<num_levels; i++) //inserire dati db
       for(var j=0; j<i+1; j++)
        modulesMat[i][j] = new Module("modulo"+i+""+j, i*j, i==j);

      <%
        var level;
        for(level=0; level<levelsArr.length && levelsArr[level].points <= userPoints; level++);
        level--;
      %>
       level = <%= level %>;
    </script>

  </head>
  <body>
    <!-- Fixed navbar -->
    <%- include('navbar', {title: title}) %>
    <!-- End of navbar -->
    <div class="">

      <div class="col-sm-4">
        <div class="well well-levels">
          <h2 class="text-center">Levels</h2>
          <div class="row equal">
            <!-- rocket -->
            <div class="col-xs-5 rocket-container">
              <center>
                <div class="moon"></div>
                <div class="earth"></div>
                <div id="rocket" class="rocket"></div>
              </center>
            </div>
            <!-- Level -->
            <div class="col-xs-7">
              <% for(var i=levelsArr.length-1;i>=0;i--){ %>
                <ul class="list-group list-group-padding">

                  <li class="list-group-item
                    <% if(levelsArr[i].points > userPoints){ %>
                      disabled
                    <% }else if(levelsArr[i].perComp==0){ %>
                      list-group-item-danger
                    <% }else if(levelsArr[i].perComp==100){ %>
                      list-group-item-success
                    <% }else{ %>
                      list-group-item-warning
                    <% } %>"
                    <% if(levelsArr[i].points <= userPoints){ %>
                      onclick="changeMiddleColumn(<%= i %>)"
                    <% } %> >
                    <%= levelsArr[i].name %>
                    <span class="badge">
                      <% if(levelsArr[i].points > userPoints){ %>
                        <span class="glyphicon glyphicon-lock"></span>
                      <% }else{ %>
                      <%= levelsArr[i].perComp %>%
                      <% } %>
                    </span>
                  </li>
                </ul>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <!-- Moduli -->
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 well well-modules">
            <h3> <div align="center" id="modulesTitle"></div> </h3>
            <!-- modules -->
            <div class="list-group" id="modulesList">
              <script> changeMiddleColumn(level); </script>
            </div>
          </div>

          <div class="col-sm-2"></div>
        </div>

        <div class="row">
          <%
            var mod_bar_percentage = level+1 < levelsArr.length ? Math.floor(userPoints / levelsArr[level+1].points * 100) : 100;
            var points_to_next = level+1 < levelsArr.length ? levelsArr[level+1].points - userPoints : 0;
          %>

          <div class="col-sm-1"> </div>

          <div class="col-sm-10">
            <div align="center"> Points until next level: <%= points_to_next %> </div>
            <div class="progress incomplete-progress-bar-modules">
              <div class="progress-bar progress-bar-modules" role="progressbar" style="width:<%= mod_bar_percentage %>%">
                <%= mod_bar_percentage %>%
              </div>
            </div>
          </div>

          <div class="col-sm-1"></div>
        </div>

        <div class="col-sm-1"></div>
      </div>
      <!-- chiude colonna centrale -->

      <!-- Leaderboard and test -->
      <div class="col-sm-4">
        <div class="well well-leaderboard">
          <div class="row">
            <h2 class="text-center">Leaderboard</h2>
            <div class="leaderboard-container">
              <ul class="leaderboard list-group">
                <% for(var i=0;i<10;i++) {%>
                  <li class="list-group-item leaderboard-entry">
                    <a href="#profile" class="">
                        <div class="leaderboard-image profile-image-container img-circle">
                          <img class="" src="http://www.losangelesstaffingagencies.com/wp-content/uploads/2016/04/confident_Employee.jpg" class="rounded" />
                        </div>
                        <div class="leaderboard-position"><%=i+1%>.</div><div class="leaderboard-inline-name">Bob&nbsp;Smith</div>
                        <div class="leaderboard-inline-points">1337 Pt.</div>
                    </a>
                  </li>
                <%}%>
              </ul>
            </div>
          </div>
        </div>
      <div id="bravometer" class="200x160px">
      </div>
      </div>
    </div>
  </body>
</html>
